*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

body{
    background-color: #787878;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    row-gap: 30px;
}

 .inner-container {
    display: flex;
    column-gap: 10px;
}

.gBtn {
    border: none;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    font-size: 17px;
    font-weight: 600;
}
.cBtn {
    border: none;
    padding: 15px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    font-size: 17px;
    font-weight: 600;
}

input {
    font-size: 15px;
    padding: 5px;
}


#output {
    padding: 20px;
}


/* /* make a digital clock design  */
/* .clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}

.clock {
    width: 150px;
    height: 50px;
    background-color: #f9d243;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 25px;
} */ 